@charset "UTF-8";
/* Nosotros */
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");
.imagenNosotrosDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem; }
  .imagenNosotrosDiv .imagenNosotros {
    height: 600px;
    width: 90%;
    border-radius: 10px;
    border: 3px dashed grey; }

section .NuestroObjetivo {
  height: auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: auto auto auto;
  margin: 1rem; }
  section .NuestroObjetivo .h3Nosotros {
    align-self: center;
    font-family: "Orbitron", sans-serif;
    color: #365f8d; }
    section .NuestroObjetivo .h3Nosotros hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: 15%;
      margin-right: 15%;
      border-style: solid;
      border-width: 2px;
      border-color: #831400; }
  section .NuestroObjetivo .textoNosotros {
    font-family: "Cabin", sans-serif;
    background-color: #1b2945;
    color: azure;
    padding: 1rem; }

.contenidoNosotros {
  background-color: #a0a0a0; }
  .contenidoNosotros .cardsNosotros {
    background: linear-gradient(45deg, #004675, #1d2529); }
    .contenidoNosotros .cardsNosotros div div div .tituloCardsNosotros {
      font-family: "Orbitron", sans-serif;
      color: azure; }
    .contenidoNosotros .cardsNosotros div div div .textoCardsNosotros {
      font-family: "Cabin", sans-serif;
      color: azure; }
  .contenidoNosotros .instructores {
    color: #365f8d;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    margin: 3rem; }
    .contenidoNosotros .instructores h3, .contenidoNosotros .instructores h6 {
      font-family: "Orbitron", sans-serif;
      margin-bottom: 2rem; }
    .contenidoNosotros .instructores .textoInstructores {
      font-family: "Cabin", sans-serif;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.15rem; }
  .contenidoNosotros .cardInstructor1 {
    border: 0px; }
    .contenidoNosotros .cardInstructor1 .imagenInstructor {
      height: 40rem; }
    .contenidoNosotros .cardInstructor1 .cardInstructor2 {
      background-color: #a0a0a0; }
      .contenidoNosotros .cardInstructor1 .cardInstructor2 .instructoresH5 {
        font-family: "Cabin", sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.15rem;
        color: #365f8d;
        margin-top: 1rem;
        padding-left: 3rem; }
  .contenidoNosotros .cardPrincipalInstructores {
    margin-top: 1rem; }
    .contenidoNosotros .cardPrincipalInstructores div .contenedorInstructores {
      background-color: #1b2945; }
      .contenidoNosotros .cardPrincipalInstructores div .contenedorInstructores .imagenInstructores {
        border-radius: 300px;
        border: solid 0.3rem #365f8d; }
      .contenidoNosotros .cardPrincipalInstructores div .contenedorInstructores div h5 {
        font-family: "Orbitron", sans-serif;
        color: azure; }
  .contenidoNosotros aside .contenedorVideo {
    color: #365f8d;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    margin: 3rem;
    color: none;
    padding-bottom: 2rem; }
    .contenidoNosotros aside .contenedorVideo .videoPipistrel {
      width: 100%;
      height: 40rem; }

footer {
  bottom: 0;
  width: 100%; }
  footer .card .footerBSTittle {
    display: flex;
    justify-content: center; }
  footer .card .footerBS {
    background-color: #365f8d;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    footer .card .footerBS a .fab {
      color: azure; }
      footer .card .footerBS a .fab.fa-facebook:hover {
        color: #2868dd; }
      footer .card .footerBS a .fab.fa-instagram:hover {
        color: #b03bc7; }
      footer .card .footerBS a .fab.fa-youtube:hover {
        color: #a72727; }
      footer .card .footerBS a .fab.fa-whatsap:hover {
        color: #05b305; }

* {
  margin: 0;
  padding: 0; }

/* APLICANDO BOOTSTRAP */
/* Body */
body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  position: relative; }

/* Carousel */
.carousel-inner {
  height: 35rem; }

/* Boton whatsapp */
.botonWhatsApp img {
  width: 70px;
  position: fixed;
  z-index: 4;
  bottom: 10px;
  right: 10px; }

/* NavBar */
.dropdown {
  display: none; }

.navbar {
  background-color: #365f8d; }

.nav-inicio {
  display: flex;
  align-items: flex-start !important; }

.nav-link {
  font-family: 'Orbitron', sans-serif;
  color: azure; }

.nav-item:hover {
  background-color: azure;
  color: #365f8d; }

/* Section */
.section {
  background-color: azure; }

h1 {
  font-family: 'Orbitron', sans-serif;
  padding-top: 1em; }

.texto-index1 {
  font-family: 'Cabin', sans-serif;
  padding: 3em; }

.texto {
  color: #365f8d;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-items: center; }

.barra {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 15%;
  margin-right: 15%;
  border-style: inset;
  border-width: 2px; }

.anac {
  text-decoration: none;
  font-weight: 700;
  color: #365f8d; }

.anac:hover {
  color: cornflowerblue; }

/* Cards */
.bodyOfertas {
  background-color: #1b2945;
  border-color: azure; }

.tituloOfertas {
  color: #365f8d;
  font-family: 'Orbitron', sans-serif; }

.textoOfertas {
  color: azure;
  font-family: 'Cabin', sans-serif;
  padding-top: 4rem;
  padding-bottom: 2rem; }

.linkVermas {
  color: azure; }

.logos-index {
  color: #b19517;
  padding: 20px; }

/* Servicios */
.cartaServicios {
  margin: 0.5rem;
  margin-right: 1.5rem; }

.imagenServicios {
  height: 35rem; }

.tituloServicios {
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif;
  color: whitesmoke;
  border-style: solid;
  border-radius: 15px;
  margin-left: 22rem;
  margin-right: 22rem;
  border-color: whitesmoke;
  background-color: #365f8d; }

/* Formulario */
.tituloBanner, .textoBanner {
  display: flex;
  justify-content: center;
  font-family: 'Orbitron', sans-serif; }

.textoBanner {
  font-family: 'Cabin', sans-serif; }

.barraFormulario {
  display: block;
  margin-top: 4rem;
  margin-bottom: 1rem;
  margin-left: 15%;
  margin-right: 15%;
  border-style: inset;
  border-width: 2px; }

.imagenFormulario {
  height: 400px; }

.imagenLogos {
  width: 30%;
  height: 30%; }

.cartaLogos {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-style: none; }

.contendorLogos {
  width: 100%; }

.formulario {
  padding: 5rem; }

.contenedorFormulario {
  border: 3px;
  background: linear-gradient(#365f8d, #4e4e4e);
  border-color: #365f8d;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 0px 10px 10px -6px black;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: azure;
  font-family: 'Cabin', sans-serif;
  font-weight: 400; }

.tituloFormulario {
  color: azure;
  font-size: 24px;
  margin-bottom: 3rem;
  text-decoration: underline;
  text-align: center; }

.itemformulario1 {
  color: azure; }

.textoItem {
  color: azure; }

.botonesFormulario {
  padding-top: 3rem;
  display: flex;
  gap: 4rem;
  flex-direction: row;
  justify-content: center; }

#Nombre, #Apellido, #Teléfono, #Mail, #inputState {
  background-color: #1b2945;
  margin-bottom: 1rem; }

#inputState {
  color: azure; }

.btn {
  border-color: azure;
  background-color: #1b2945;
  color: azure; }

input::placeholder {
  color: azure !important; }

input {
  color: azure !important; }

/* Keyframes */
@keyframes bounceInRight {}/* Mediaqueries */
@media screen and (max-width: 576px) {
  body {
    width: 100vw;
    overflow-x: hidden; }
  /* Navbar */
  .lista-nav {
    display: none; }
  .navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly; }
  .dropdown {
    display: flex;
    margin-right: 6rem; }
  .menuMobile {
    background-color: azure;
    color: #365f8d;
    font-family: 'Orbitron', sans-serif; }
  .dropdown-menu {
    background-color: cadetblue; }
  .dropdown-item {
    font-family: 'Orbitron', sans-serif; }
  .itemMobile {
    text-decoration: none;
    color: azure; }
  /* Logo wsp */
  .botonWhatsApp img {
    display: none; }
  /* Seccion inicio */
  .card-group {
    display: block; }
  /* Carousel inicio */
  .carousel {
    height: 20rem; }
  .carousel-item {
    height: 20rem; }
  /* Pagina Contacto */
  .cartaMobile {
    height: 20rem; }
  /* Pagina Servicios */
  .imagenServicios {
    height: 20rem; }
  .tituloServicios {
    display: flex;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    color: whitesmoke;
    border-style: solid;
    border-radius: 15px;
    margin-left: 2rem;
    margin-right: 2rem;
    border-color: whitesmoke;
    background-color: #365f8d; }
  .cartaServicios {
    margin: 0.5rem;
    margin-right: 0.5rem; } }
