/* TABLET */

@media screen and (min-width: 577px) and (max-width:768px) {

    body {
        width: 100vw;
        overflow-x: hidden;
    }

    /* Navbar */

    nav {
        max-height: 8rem;
    }

    .lista-nav {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .dropdown {
        display: flex;
        margin-right: 10rem;
        
    }

    .dropdown-menu {
        background-color: cadetblue;
        
    }

    .dropdown-item {
        font-family: $letraPrincipal;
    }

    .itemMobile {
        text-decoration: none;
        color: map-get($map: $mapaColores, $key: "elBlanco" );

    }

    nav {
        div {
            a {
                
            }
        }
    }

    /* Logo wsp */

    .botonWhatsApp img {
        display: none;
    }


     /* Pagina Nosotros */

     section {
        .NuestroObjetivo {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }

    .contenidoNosotros {

        .cardInstructor1 {

            .imagenInstructor {
                height: auto;
            }

        }

        .cardPrincipalInstructores {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: auto auto;
        }

        .cardInstructor1 {

            .cardInstructor2 {
                
                .instructoresH5 {
                    font-family: $letraTexto;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: map-get($map: $mapaColores, $key: "azulPrincipal" );
                    margin: 1rem;
                }
        
            }
            
        } 


        aside {
            .contenedorVideo {
                color: none;
                padding-bottom: 2rem;
                .videoPipistrel {
                    width: 100%;
                    height: 25rem;
                }
            }
        }

    }

    /* Pagina Servicios */

    section {
        .cartaServicios {
            display: none;
        }


        .contenedorServicios {
            width: 97vw;
            .contenedorServiciosImg {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

            }
        }

        ul {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }


    /* Contacto */

    .formulario {
        margin-right: 4rem;
        
    }


    /* Escuela de Vuelo */


    .article {
        .bordesEscuela {

        }
    }




    
}