

@media screen and (max-width: 576px){
   
    body {
        width: 100vw;
        overflow-x: hidden;
    }
   
    /* Navbar */

    .lista-nav {
        display: none;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .dropdown {
        display: flex;
        margin-right: 6rem;
    }

    /*.menuMobile {
        background-color: azure;
        color: rgb(54, 95, 141);
        font-family: 'Orbitron', sans-serif;
    }*/

    .dropdown-menu {
        background-color: cadetblue;
        
    }

    .dropdown-item {
        font-family: $letraPrincipal;
    }

    .itemMobile {
        text-decoration: none;
        color: map-get($map: $mapaColores, $key: "elBlanco" );

    }

    /* Logo wsp */

    .botonWhatsApp img {
        display: none;
    }

    /* Seccion inicio */

    .card-group {
        display: block;
    }

    /* Carousel inicio */

    .carousel {
        height: 20rem;
    }

    .carousel-item {
        height: 20rem;
    }

    
    /* Pagina Nosotros */

    section {
        .NuestroObjetivo {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
    }

    .contenidoNosotros {

        .cardInstructor1 {

            .imagenInstructor {
                height: auto;
            }

        }

        .cardPrincipalInstructores {
            margin-top: 1rem;
            display: grid;
            grid-template-columns: auto auto;
        }

        .cardInstructor1 {

            .cardInstructor2 {
                
                .instructoresH5 {
                    font-family: $letraTexto;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: map-get($map: $mapaColores, $key: "azulPrincipal" );
                    margin: 1rem;
                }
        
            }
            
        } 


        aside {
            .contenedorVideo {
                color: none;
                padding-bottom: 2rem;
                .videoPipistrel {
                    width: 100%;
                    height: 25rem;
                }
            }
        }

    }

    /* Pagina Contacto */

    .cartaMobile {
        height: 20rem;
    }


    /* Pagina Servicios */

    .imagenServicios {
        height: 20rem;
    }

    .tituloServicios {
        display: flex;
        justify-content: center;
        font-family: 'Orbitron', sans-serif;
        color: whitesmoke;
        border-style: solid;
        border-radius: 15px;
        margin-left: 2rem;
        margin-right: 2rem;
        border-color: whitesmoke;
        background-color: rgb(54, 95, 141);
    }

    .cartaServicios {
        margin: 0.5rem;
        margin-right: 0.5rem;
    }


    
}