/* COLORES */

$color-redes: azure;
$bg-color-footer: rgb(54, 95, 141);
$color-hover-facebook: rgb(40, 104, 221);
$color-hover-instagram: rgb(176, 59, 199);
$color-hover-youtube: rgb(167, 39, 39);
$color-hover-whatsapp: rgb(5, 179, 5);