

$color-redes: azure;
$bg-color-footer: rgb(54, 95, 141);
$color-hover-facebook: rgb(40, 104, 221);
$color-hover-instagram: rgb(176, 59, 199);
$color-hover-youtube: rgb(167, 39, 39);
$color-hover-whatsapp: rgb(5, 179, 5);

$mapaColores: (
    "azulPrincipal": #365f8d,
    "elBlanco": azure,
    "azulFondo": #1b2945,
    "gris": rgb(160, 160, 160)
);

$barra2: rgb(131, 20, 0);

$gradiente1: rgb(29, 37, 41);
$gradiente2: rgb(0, 70, 117);

$letraPrincipal: 'Orbitron', sans-serif;
$letraTexto: 'Cabin', sans-serif;